<header class="header">
  <div class="header-container container">
    <a href="#" class="logo">
      <img src="/images/logo/logo.svg" alt="Logo" />
      <span class="company-name semi-bold fs-16">{{ companyName }}</span>
    </a>
    <nav class="nav">
      <ul class="nav-list">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Про гида</a></li>
        <li><a href="#">Программа тура</a></li>
        <li><a href="#">Стоимость</a></li>
        <li><a href="#">Блог</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </nav>
    <button type="submit" class="consultation-btn semi-bold fs-16">Консультация</button>
  </div>
</header>

<section class="hero">
  <div class="main-hero"></div>
  <div class="hero-content container">
    <h1 class="hero-main__title container">
      Насладись прогулкой в горах <br />
      с командой единомышленников
    </h1>
  </div>
  <div class="form-container container">
    <form action="" class="form">
      <div class="column">
        <select name="location" id="location-list">
          <option value="" disabled selected hidden>Локация для тура</option>
          <option value="caucasus">Кавказ</option>
          <option value="crimea">Крым</option>
          <option value="sochi">Сочи</option>
          <option value="kamchatka">Камчатка</option>
          <option value="altai">Алтай</option>
        </select>
        <label class="text regular fs-14" for="location-list">выберите из списка</label>
      </div>

      <div class="date-wrapper">
        <input type="date" id="date" required />
        <span class="fake-placeholder fs-16 bold">Дата похода</span>
        <label class="text regular fs-14" for="date">укажите дату</label>
      </div>

      <div class="column">
        <select name="participants" id="participants-list">
          <option value="" disabled selected hidden>Участники</option>
          <option value="abdullah">АбдуЛлах</option>
          <option value="abdurrahman">АбдурРахман</option>
          <option value="gadel">Гадель</option>
          <option value="ahmad">Ахмад</option>
        </select>
        <label class="text regular fs-14" for="participants-list">выберите из списка</label>
      </div>

      <button type="submit" class="plan-btn fs-16 bold">Найти программу</button>
    </form>
  </div>
</section>
